.main-cafe{
  
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 60px;
}
section div section a.section-go-to svg{
    transform: rotate(90deg) ;
}
section div section a.section-go-to-2 svg{
    transform: rotate(270deg) ;
}
.cafes{
    width: 50%;

}
.cafe{
    text-align: left;
    background-color:    rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1.5em;
    margin: 0.5em;
}

@media (max-width:800px) {
    .cafes{
        width: 80%;
    }

}
@media (max-width:600px) {
    .cafes{
        width: 100%;
    }

}