*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header-div{
    border: 1px black;
    display: flex;
    right: 0;
    left: 0;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
}
.header{
    background-color: rgb(250, 235, 215,0.55) ;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.header-logo{
    height :10em;
    width: 10em;
    align-self: flex-end;
}
.header-ul{
    width: 50%;
    align-content: center;
    align-self: center;
    justify-self: center;

}
