@font-face {
  font-family: alumni;
  src: url("../public/fonts/Alumni_Sans/AlumniSans-VariableFont_wght.ttf");
}
*{
  font-family: alumni;
}
body {
  background-image: url("../public/img/fondo-1-transparencia.jpg");
  background-attachment: fixed;
  background-color: antiquewhite;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

A:link {text-decoration: none }
A:visited {color: black;  font-family: arial; text-decoration: none }

body#body{
  width: 100%;
  align-self: center;
  text-align: center;

}
